#Binaries
**/bin/
!vendor/premake/bin/
bin-int/

#Visual Studio files and folder
.vs/
**.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.ini

##Juno files
*.log
*.json
*.json
Sandbox/JunoProfile-Startup.json
Sandbox/JunoProfile-Shutdown.json
Sandbox/JunoProfile-Runtime.json
