[submodule "Juno/vendor/spdlog"]
	path = Juno/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
	ignore = dirty
[submodule "Juno/vendor/GLFW"]
	path = Juno/vendor/GLFW
	url = ../../ultamatum/glfw.git
	branch = master
	ignore = dirty
[submodule "Juno/vendor/imgui"]
	path = Juno/vendor/imgui
	url = ../../ultamatum/imgui.git
	branch = docking
	ignore = dirty
[submodule "Juno/vendor/glm"]
	path = Juno/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
	ignore = dirty
[submodule "Juno/vendor/yaml-cpp"]
	path = Juno/vendor/yaml-cpp
	url = ../../ultamatum/yaml-cpp
	ignore = dirty
[submodule "Juno/vendor/ImGuizmo"]
	path = Juno/vendor/ImGuizmo
	url = https://github.com/ultamatum/ImGuizmo
