#Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Files
*.user
Makefile
Hazel.config
Hazel.creator
Hazel.files
Hazel.includes

#Visual Studio files and folder
.vs/
**.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.ini

##Juno files
*.log
*.json
*.json
Sandbox/JunoProfile-Startup.json
Sandbox/JunoProfile-Shutdown.json
Sandbox/JunoProfile-Runtime.json
